<div class="event-item" style="{{background-color event.color}}">

  <div class="title">
    {{event.title}}
  </div>

  <div class="experts">

    {{#each event.experts as |expert i| }}
    <a href="/t/{{link event.expertTopicIds i}}" style="{{font-color event.color}};">
      {{expert}}
    </a>
    {{/each}}

  </div>

  <div class="time">
    <div>
      {{#if event.live}}
        <span class="event-live">
          <span class="circle"></span>
          <span>LIVE</span>
        </span>
      {{/if}}
    </div>
    <div>
      {{event.time}}
    </div>
  </div>

</div>

