<div style="display:flex background-color: #{{event.color}};">

  <div class="title">
    {{event.title}}
  </div>

  <div class="experts">

    {{#each event.experts as |expert i| }}
    <a href="/t/{{link event.expertTopicIds i}}">
      {{add i 1}}. {{expert}}
    </a>
    {{/each}}

  </div>

  <div class="time">
    {{event.time}}
  </div>

</div>

