{{#if showLandingPage}}

<div class="discourse-covid-fuse">

	<!-- BANNER -->
	{{banner userLoggedIn=userLoggedIn}}

  <!-- CONTENT 1-->
  <div class="content-row-1">
    <div class="col">
      <div class="row-title">
        WELCOME TO THE ONLINE FORUM
      </div>

      <div style="margin-top:40px;">
        <p class="margin-top:0px;">
          The COVID-19 pandemic and Ireland’s response to it is having a lasting impact on the people of Ireland. Now it's time for the public to have their say and input on the issues we face. We want to know your thoughts on vaccines, on housing, on education, the economy and much more.
        </p>
        <p>
          This Forum is a space for the public to have a voice and provide a space where policymakers can listen to citizens directly. The Forum is currently open. Active debate began on <span class="text-bold">Tuesday 10 Nov at 8pm</span>.
        </p>
        <p>
          Created by the ADAPT Centre and FuJo with support from SFI in conjunction with Science Week, the Choosing Our Future Online Forum is a nationwide, large-scale debate inviting policymakers, experts, and citizens to identify the next steps to be taken during the COVID-19 crisis and what’s next for our society.
        </p>
      </div>
    </div>
  </div>

  <!-- COUNTDOWN -->
  {{#if showCountdown}}
  <div class="countdown-row-1">
    <div class="row-title">
      NOT LONG NOW
    </div>

    <div class="clock-wrapper">
      <div class="days-wrapper">
        <div class="time">
          {{countdownDays}}
        </div>
        <div class="desc">
          {{countdownDaysText}}
        </div>
      </div>

      <div class="hours-wrapper">
        <div class="time">
          {{countdownHours}}
        </div>
        <div class="desc">
          {{countdownHoursText}}
        </div>
      </div>

      <div class="minutes-wrapper">
        <div class="time">
          {{countdownMinutes}}
        </div>
        <div class="desc">
          {{countdownMinutesText}}
        </div>
      </div>

      <div class="seconds-wrapper">
        <div class="time">
          {{countdownSeconds}}
        </div>
        <div class="desc">
          {{countdownSecondsText}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}

  <!-- LIVE TOPICS -->
  <!--
  {{#if showLive}}
  <div class="live-topic-row-1">
    <div class="row-title">
      LIVE DISCUSSIONS
    </div>

    <div style="margin-top:40px; font-weight: 200; font-size: 1.8rem; text-align: center; color: #008eb1;">
      CLICK ON ONE TO JOIN THE DISCUSSION
    </div>

    <div class="live-topics-container">
      {{#each liveTopics as |event| }}
      {{event-item event=event}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  -->

  <div class="schedule-row-0" id="schedule-0">
    <div class="row-title">
      DISCUSSIONS
    </div>

    <div style="margin-top:40px; font-weight: 200; font-size: 1.8rem; text-align: center; color: #008eb1;">
      CLICK ON ONE TO JOIN THE DISCUSSION
    </div>

    <div class="schedule-entry-container">
      {{#each scheduleAll as |event| }}
      {{event-item event=event}}
      {{/each}}
    </div>
  </div>

  <!-- SCHEDUAL 1-->
  <!--
  <div class="schedule-row-1" id="schedule-1">
    <div class="row-title">
      TUESDAY 10TH NOVEMBER 2020
    </div>

    <div style="margin-top:40px; font-weight: 200; font-size: 1.8rem; text-align: center; color: #008eb1;">
      CLICK ON ONE TO JOIN THE DISCUSSION
    </div>

    <div class="schedule-entry-container">
      {{#each scheduleOne as |event| }}
        {{event-item event=event}}
      {{/each}}
    </div>
  </div>
  -->
  <!-- SCHEDUAL 2 -->
  <!--
  <div class="schedule-row-1">
    <div class="row-title">
      WEDNESDAY 11TH NOVEMBER 2020
    </div>

    <div style="margin-top:40px; font-weight: 200; font-size: 1.8rem; text-align: center; color: #008eb1;">
      CLICK ON ONE TO JOIN THE DISCUSSION
    </div>

    <div class="schedule-entry-container">
      {{#each scheduleTwo as |event| }}
      {{event-item event=event}}
      {{/each}}
    </div>
  </div>
  -->

  <!-- CATEGORIES -->
  <div class="categories-row-1">
    <div class="row-title">
      DISCUSSION CATEGORIES
    </div>

    <div class="categories-wrapper">

      <!-- CAT GROUP -->
      <div class="cat-group cat-eco">
        <a href="/c/{{cat_economy}}" class="cat-link">

          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/economy.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Economy
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-health">
        <a href="/c/{{cat_health}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/health.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Health
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-social">
        <a href="/c/{{cat_social}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/social.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Social Impact
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-env">
        <a href="/c/{{cat_environment}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/environment.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Environment
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-edu">
        <a href="/c/{{cat_education}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/education.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Education
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-tech">
        <a href="/c/{{cat_technology}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/technology.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Technology
          </div>
        </a>
      </div>
    </div>
  </div>

	<div class="last-row"></div>
</div>

{{/if}}

{{#if showCategoryPage}}
<div class="discourse-covid-fuse">
  <div class="categories-row-1 categories-categories-page">
    <div class="row-title">
      CATEGORIES
    </div>

    <div class="categories-wrapper">

      <!-- CAT GROUP -->
      <div class="cat-group cat-eco">
        <a href="/c/{{cat_economy}}" class="cat-link">

          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/economy.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Economy
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-health">
        <a href="/c/{{cat_health}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/health.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Health
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-social">
        <a href="/c/{{cat_social}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/social.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Social Impact
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-env">
        <a href="/c/{{cat_environment}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/environment.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Environment
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-edu">
        <a href="/c/{{cat_education}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/education.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Education
          </div>
        </a>
      </div>

      <!-- CAT GROUP -->
      <div class="cat-group cat-tech">
        <a href="/c/{{cat_technology}}" class="cat-link">
          <!-- ICON -->
          <div>
            <div class="bubble-container">
              <div class="bubble bubble-right">
                <div class="bubble-content">
                  <img src="/plugins/discourse-covid-fuse/images/icons/technology.png">
                </div>
              </div>
            </div>
          </div>

          <!-- Text -->
          <div class="desc">
            Technology
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="last-row"></div>
</div>
{{/if}}
